@import "_reset.scss";
@import "_button.scss";

body {
  background-color: hotpink;
}

.modal {
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  border: 3px black solid;
  position: absolute;
  top: 25vh;
  left: 25vw;
  font-size: 3vw;
}

.modalCover {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    opacity: 0.3;
}

.open {
  display: block;
}
